
.v6_221 {
  width: 1000px;
  height: 1000px;
  background: rgba(243,244,246,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_222 {
  width: 242px;
  height: 981px;
  background: rgba(30,41,59,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 8px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v6_223 {
  width: 242px;
  height: 81px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_224 {
  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 24px;
  overflow: hidden;
}
.v6_225 {
  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_226 {
  width: 18px;
  height: 19px;
  background: rgba(20,184,166,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.v6_227 {
  width: 105px;
  color: rgba(20,184,166,1);
  position: absolute;
  top: 25px;
  left: 56px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_228 {
  width: 242px;
  height: 72px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 0px;
  overflow: hidden;
}
.v6_229 {
  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 24px;
  overflow: hidden;
}
.v6_230 {
  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_231 {
  width: 17px;
  height: 8px;
  background: rgba(212,212,212,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v6_232 {
  width: 13px;
  height: 13px;
  background: rgba(212,212,212,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 3px;
}
.v6_233 {
  width: 82px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 26px;
  left: 60px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_234 {
  width: 242px;
  height: 288px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 153px;
  left: 0px;
  overflow: hidden;
}
.v6_235 {
  width: 242px;
  height: 72px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_236 {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 24px;
  overflow: hidden;
}
.v6_237 {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_238 {
  width: 17px;
  height: 17px;
 
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v6_239 {
  width: 61px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 26px;
  left: 60px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_240 {
  width: 242px;
  height: 72px;
  background: rgba(16,185,129,1);
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 0px;
  overflow: hidden;
}
.v6_241 {
  width: 242px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_242 {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 24px;
  overflow: hidden;
}
.v6_243 {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_244 {
  width: 17px;
  height: 9px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 1px;
}
.v6_245 {
  width: 17px;
  height: 7px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 1px;
}
.v6_246 {
  width: 43px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 26px;
  left: 60px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_247 {
  width: 242px;
  height: 72px;
  background: url("../images/v6_247.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 144px;
  left: 0px;
  overflow: hidden;
}
.v6_248 {
  width: 20px;
  height: 20px;
  background: url("../images/v6_248.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 24px;
  overflow: hidden;
}
.v6_249 {
  width: 20px;
  height: 20px;
  background: url("../images/v6_249.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_250 {
  width: 11px;
  height: 13px;
  background: rgba(212,212,212,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 6px;
}
.v6_251 {
  width: 14px;
  height: 17px;
  background: rgba(212,212,212,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
}
.v6_252 {
  width: 65px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 26px;
  left: 60px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_253 {
  width: 242px;
  height: 72px;
  background: url("../images/v6_253.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 0px;
  overflow: hidden;
}
.v6_254 {
  width: 20px;
  height: 20px;
  background: url("../images/v6_254.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 24px;
  overflow: hidden;
}
.v6_255 {
  width: 20px;
  height: 20px;
  background: url("../images/v6_255.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_256 {
  fill:azure;
  width: 17px;
  height: 16px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v6_257 {
  width: 36px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 26px;
  left: 60px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_258 {
  width: 726px;
  height: 981px;
  background: url("../images/v6_258.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 266px;
  overflow: hidden;
}
.v6_259 {
  width: 726px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v6_260 {
  width: 426px;
  height: 32px;
  background: url("../images/v6_260.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v6_261 {
  width: 288px;
  height: 32px;
  background: rgba(243,244,246,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}
.v6_262 {
  width: 57px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 7px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_263 {
  width: 106px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 4px;
  left: 320px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_264 {
  width: 193px;
  height: 32px;
  background: url("../images/v6_264.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 516px;
  overflow: hidden;
}
.v6_265 {
  width: 98px;
  height: 32px;
  background: rgba(0,0,0,1);
  padding: 4px 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v6_266 {
  width: 67px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_267 {
  width: 103px;
  height: 32px;
  background: rgba(243,244,246,1);
  padding: 4px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 90px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v6_268 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 16px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_269 {
  width: 726px;
  height: 510px;
  background: rgba(23,23,23,1);
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v6_270 {
  width: 694px;
  height: 80px;
  background: url("../images/v6_270.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 13px;
  overflow: hidden;
}
.v6_271 {
  width: 490px;
  height: 80px;
  background: url("../images/v6_271.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 5px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_272 {
  width: 221px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v6_273 {
  width: 490px;
  height: 40px;
  background: url("../images/v6_273.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0px 0px;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 0px;
  overflow: hidden;
}
.v6_274 {
  width: 483px;
  color: rgba(229,231,235,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_275 {
  width: 139px;
  height: 36px;
  background: rgba(5,150,105,1);
  padding: 6px 11px;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 554px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05000000074505806);
  overflow: hidden;
}
.v6_276 {
  width: 116px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 6px;
  left: 11px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v6_277 {
  width: 742px;
  height: 382px;
  background: url("../images/v6_277.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 8px;
  overflow: hidden;
}
.v6_278 {
  width: 694px;
  height: 366px;
  background: rgba(51,65,85,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 6px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}
.v6_279 {
  width: 694px;
  height: 366px;
  background: url("../images/v6_279.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_280 {
  width: 694px;
  height: 48px;
  background: url("../images/v6_280.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_281 {
  width: 40px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 49px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_282 {
  width: 31px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 317px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_283 {
  width: 30px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 14px;
  left: 533px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_284 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v6_285 {
  width: 9px;
  height: 2px;
  background: rgba(118,118,118,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 3px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v6_286 {
  width: 694px;
  height: 317px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 0px;
  overflow: hidden;
}
.v6_287 {
  width: 694px;
  height: 53px;
  background: rgba(249,250,251,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_288 {
  width: 76px;
  color: rgba(5,150,105,1);
  position: absolute;
  top: 17px;
  left: 49px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_289 {
  width: 135px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 17px;
  left: 317px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_290 {
  width: 55px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 17px;
  left: 533px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_291 {
  width: 26px;
  color: rgba(5,150,105,1);
  position: absolute;
  top: 17px;
  left: 656px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: right;
}
.v6_292 {
  width: 48px;
  height: 53px;
  background: url("../images/v6_292.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_293 {
  width: 2px;
  height: 52px;
  background: rgba(79,70,229,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_294 {
  width: 16px;
  height: 16px;
  background: rgba(0,117,255,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 16px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v6_295 {
  width: 694px;
  height: 53px;
  background: url("../images/v6_295.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 53px;
  left: 0px;
  overflow: hidden;
}
.v6_296 {
  width: 63px;
  color: rgba(17,24,39,1);
  position: absolute;
  top: 17px;
  left: 49px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_297 {
  width: 136px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 17px;
  left: 317px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_298 {
  width: 42px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 17px;
  left: 533px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_299 {
  width: 26px;
  color: rgba(5,150,105,1);
  position: absolute;
  top: 17px;
  left: 656px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: right;
}
.v6_300 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 16px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v6_301 {
  width: 694px;
  height: 53px;
  background: rgba(249,250,251,1);
  opacity: 1;
  position: absolute;
  top: 106px;
  left: 0px;
  overflow: hidden;
}
.v6_302 {
  width: 88px;
  color: rgba(5,150,105,1);
  position: absolute;
  top: 17px;
  left: 49px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_303 {
  width: 77px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 17px;
  left: 317px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_304 {
  width: 55px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 17px;
  left: 533px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_305 {
  width: 26px;
  color: rgba(5,150,105,1);
  position: absolute;
  top: 17px;
  left: 656px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: right;
}
.v6_306 {
  width: 48px;
  height: 53px;
  background: url("../images/v6_306.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_307 {
  width: 2px;
  height: 52px;
  background: rgba(79,70,229,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_308 {
  width: 16px;
  height: 16px;
  background: rgba(0,117,255,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 16px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v6_309 {
  width: 694px;
  height: 53px;
  background: url("../images/v6_309.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 0px;
  overflow: hidden;
}
.v6_310 {
  width: 67px;
  color: rgba(17,24,39,1);
  position: absolute;
  top: 17px;
  left: 49px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_311 {
  width: 138px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 17px;
  left: 317px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_312 {
  width: 42px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 17px;
  left: 533px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_313 {
  width: 26px;
  color: rgba(5,150,105,1);
  position: absolute;
  top: 17px;
  left: 656px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: right;
}
.v6_314 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 16px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v6_315 {
  width: 694px;
  height: 53px;
  background: rgba(249,250,251,1);
  opacity: 1;
  position: absolute;
  top: 212px;
  left: 0px;
  overflow: hidden;
}
.v6_316 {
  width: 75px;
  color: rgba(5,150,105,1);
  position: absolute;
  top: 17px;
  left: 49px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_317 {
  width: 135px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 17px;
  left: 317px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_318 {
  width: 55px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 17px;
  left: 533px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_319 {
  width: 26px;
  color: rgba(5,150,105,1);
  position: absolute;
  top: 17px;
  left: 656px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: right;
}
.v6_320 {
  width: 48px;
  height: 53px;
  background: url("../images/v6_320.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_321 {
  width: 2px;
  height: 52px;
  background: rgba(79,70,229,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_322 {
  width: 16px;
  height: 16px;
  background: rgba(0,117,255,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 16px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v6_323 {
  width: 694px;
  height: 52px;
  background: url("../images/v6_323.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 265px;
  left: 0px;
  overflow: hidden;
}
.v6_324 {
  width: 77px;
  color: rgba(17,24,39,1);
  position: absolute;
  top: 17px;
  left: 49px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_325 {
  width: 136px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 17px;
  left: 317px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_326 {
  width: 42px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 17px;
  left: 533px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_327 {
  width: 26px;
  color: rgba(5,150,105,1);
  position: absolute;
  top: 17px;
  left: 656px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: right;
}
.v6_328 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 16px;
  border: 1px solid rgba(118,118,118,1);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v6_329 {
  width: 726px;
  height: 336px;
  background: url("../images/v6_329.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 646px;
  left: 0px;
  overflow: hidden;
}
.v6_330 {
  width: 343px;
  height: 280px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v6_331 {
  width: 234px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 16px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_332 {
  width: 311px;
  height: 28px;
  background: url("../images/v6_332.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 16px;
  overflow: hidden;
}
.v6_333 {
  width: 173px;
  height: 28px;
  background: rgba(254,202,202,1);
  padding: 4px 8px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v6_334 {
  width: 158px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 8px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_335 {
  width: 88px;
  height: 28px;
  background: rgba(254,215,170,1);
  padding: 4px 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 181px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v6_336 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 8px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_337 {
  width: 311px;
  height: 95px;
  background: url("../images/v6_337.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 16px;
  overflow: hidden;
}
.v6_338 {
  width: 1200px;
  color: rgba(75,85,99,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v6_339 {
  width: 200px;
  color: rgba(75,85,99,1);
  position: absolute;
  top: 32px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v6_340 {
  width: 311px;
  height: 16px;
  background: url("../images/v6_340.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 16px;
  overflow: hidden;
}
.v6_341 {
  width: 16px;
  height: 16px;
  background: url("../images/v6_341.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_342 {
  width: 16px;
  height: 16px;
  background: url("../images/v6_342.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_343 {
  width: 13px;
  height: 12px;
  background: rgba(156,163,175,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
}
.v6_344 {
  width: 75px;
  color: rgba(156,163,175,1);
  position: absolute;
  top: 0px;
  left: 24px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v6_345 {
  width: 16px;
  height: 16px;
  background: url("../images/v6_345.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 107px;
  overflow: hidden;
}
.v6_346 {
  width: 16px;
  height: 16px;
  background: url("../images/v6_346.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_347 {
  width: 13px;
  height: 13px;
  background: rgba(156,163,175,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v6_348 {
  width: 94px;
  color: rgba(156,163,175,1);
  position: absolute;
  top: 0px;
  left: 131px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v6_349 {
  width: 343px;
  height: 280px;
  background: linear-gradient(rgba(22,163,74,1), rgba(21,128,61,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 383px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v6_350 {
  width: 232px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 17px;
  left: 16px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_351 {
  width: 311px;
  height: 28px;
  background: url("../images/v6_351.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 16px;
  overflow: hidden;
}
.v6_352 {
  width: 173px;
  height: 28px;
  background: rgba(187,247,208,1);
  padding: 4px 8px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v6_353 {
  width: 158px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 8px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_354 {
  width: 103px;
  height: 28px;
  background: rgba(187,247,208,1);
  padding: 4px 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 181px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v6_355 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 8px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v6_356 {
  width: 311px;
  height: 60px;
  background: url("../images/v6_356.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 16px;
  overflow: hidden;
}
.v6_357 {
  width: 200px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v6_358 {
  width: 205px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 37px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v6_359 {
  width: 311px;
  height: 16px;
  background: url("../images/v6_359.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 16px;
  overflow: hidden;
}
.v6_360 {
  width: 16px;
  height: 16px;
  background: url("../images/v6_360.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_361 {
  width: 16px;
  height: 16px;
  background: url("../images/v6_361.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_362 {
  width: 13px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
}
.v6_363 {
  width: 75px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 24px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v6_364 {
  width: 16px;
  height: 16px;
  background: url("../images/v6_364.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 107px;
  overflow: hidden;
}
.v6_365 {
  width: 16px;
  height: 16px;
  background: url("../images/v6_365.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_366 {
  width: 13px;
  height: 13px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}
.v6_367 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 131px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
